<div class="container-details">
    <mat-card class="movie-card">
        <mat-card-header>
           
            <mat-card-title>{{viewMovie.title}}</mat-card-title>
            <mat-card-subtitle>Relese Date: {{viewMovie.release_date | date: 'MMMM d, y'}}</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
            <p>
                {{viewMovie.plot}}
            </p>
            <h4>Direct By : {{viewMovie.directors}}</h4>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click) = "goBack()" >Back</button>
           
        </mat-card-actions>
    </mat-card>
</div>
