<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="avtar-icon" ><i class="material-icons">supervised_user_circle</i></div>
        
        </mat-card-header>
      
        <mat-card-content>
            <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="onTabClick($event)" animationDuration="0ms">
                <mat-tab label="Login">
                   <app-login  (registerAction)= "registerAction($event)"></app-login>
                </mat-tab>
                <mat-tab label="Sign Up">
                   <app-registration   (loginAction)= "loginAction($event)" ></app-registration>
                </mat-tab>
              </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
</div>

  
